#canvas{
  border: solid black 3px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block
}
#puntaje{
  border: solid black 3px;
  padding-left: 40;
  padding-right: 40;
  display: block;
  background-color: #222222;
  color: #FFFFFF;
}
#puntajeV{
  border: solid black 3px;
  padding-left: 40;
  margin-left: 50.9%;
  padding-right: 40;
  display: block;
  background-color: #222222;
  color: #FFFFFF;
  float: left;
}
